<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/p/css/normalize.css">
        <link rel="stylesheet" href="/p/css/bootstrap.min.css">
        <link rel="stylesheet" href="/p/css/emojionearea.min.css">
        {% block customCSS %}{% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
        {# <script src="/p/js/main.js" charset="utf-8"></script> #}
        <script src="/p/js/jquery-3.3.1.js" charset="utf-8"></script>
        <script type="text/javascript" src="/p/js/emojionearea.min.js"></script>
        {# <script type="text/javascript">
            $(document).ready(function () {
                $("textarea").emojioneArea();
            });
        </script> #}
        {% block customJS %}{% endblock %}
    </body>
</html>